*{
    background-color: lavender;
}

.boxes{
    display: inline-block;
    text-align: center;

}

.leftbox{
    display: inline-block;
    text-align: center;
 
}

.middlebox{
    display: inline-block;
    text-align: center;
}

